.headerSection {
    height: 70px;
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #883D8C, #EF2DCE);
}


.headerImage {
    margin-left: -12.5px;
}

.footerSection {
    height: 70px;
    background: linear-gradient(45deg, #883D8C, #EF2DCE);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.link {
    color: #fff; /* Replace with your desired color */
    text-decoration: none; /* Optional: Remove underline */
}

.link:hover {
    text-decoration: underline; /* Add an underline on hover */
}


/* Media queries to adjust height on larger screens */
@media (min-width: 768px) { /* Adjusting for medium screens and up */
    .headerSection {
        height: 80px;
    }
    .headerImage {
        margin-left: -10px;
    }
}

@media (min-width: 1200px) { /* Adjusting for large screens and up */
    .headerSection {
        height: 90px;
    }
    .headerImage {
        margin-left: -7.5px;
    }
}





