.footerSection {
    height: 70px;
    background: linear-gradient(45deg, #883D8C, #EF2DCE);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.link {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.link:hover {
    color: rgba(255, 255, 255, 0.75);
}

.headerImage {
    margin-left: -7.5px;
    width: 245px;
    height: 70px;
}

.marginBody {
    margin-top: 105px;

}

.badges {
    display: flex;
    justify-content: flex-start;
}


@media (max-width: 992px) {
    .headerImage {
        margin-left: -10px;
        width: 210px;
        height: 60px;
    }
    .marginBody {
        margin-top: 95px;
    }
    .badges {
        justify-content: center;
    }
}


@media (max-width: 767px) {
    .headerImage {
        margin-left: -12.5px;
        width: 175px;
        height: 50px;
    }
    .marginBody {
        margin-top: 85px;
    }

}







